/* || RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: var(--text-base);
  font-family: 'Helvetica', Sans-Serif;

  height: 100%;
  margin: 0;
}

.body__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.header {
  width: 100%;
  height: 72px;
  align-items: center;
  background-color: var(--background);
}

.header__container {
  max-width: 1440px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--gap) * 2);
}

.logo__img:hover {
  rotate: 180deg;
  transition: 400ms;
}

.logo__text {
  font-weight: 600;
  color: var(--primary);
  font-size: var(--text-large);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: var(--gap);
  height: 410px;
}
.hero__top {
  margin-bottom: 40px;
}

.hero__headline {
  font-size: var(--text-3xl);
  color: white;
}

.hero__description {
  color: white;
  line-height: 26px;
  max-width: 550px;
  margin: 0 auto;
}

.hero__image {
  position: absolute;
  z-index: -50;
  top: 72px;
  left: 0;
  width: 100%;
  height: 600px;
  border: none;
  background-image: url('hero-background.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  background-color: var(--background);
  color: var(--muted-foreground);
  margin-top: 64px;
}

.footer__container {
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 64px 16px;
}
