/* MENU */
.menu {
  background-color: var(--background-muted-color);
  padding-left: 16px;
  padding-right: 16px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  list-style: none;
}

.menu__list-item {
  display: flex;
  vertical-align: bottom;
}

.menu__link {
  color: var(--foreground-color);
  text-decoration: none;

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.menu__link:hover {
  color: var(--background-muted-color);
  background-color: var(--foreground-muted-color);
}
