/* || THEME & CONFIG */
:root {
  --foreground-color: hsl(0, 0%, 10%);
  --foreground-muted-color: hsl(0, 0%, 20%);
  --background-color: hsl(0, 0%, 100%);
  --background-muted-color: hsl(0, 0%, 80%);

  --primary-color: hsl(120, 48%, 62%);
  --secondary-color: hsl(0, 48%, 62%);

  --gap: 4px;
  --border-radius: 4px;

  --text--large: 24px;
  --text-base: 16px;
  --text-small: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: hsl(0, 0%, 100%);
    --foreground-muted-color: hsl(0, 0%, 80%);
    --background-color: hsl(0, 0%, 10%);
    --background-muted-color: hsl(0, 0%, 20%);
  }
}
