/* || THEME & FONTS*/
:root {
  --background: hsl(0 0% 97%);
  --foreground: hsl(222.2 84% 4.9%);
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: hsl(221.2 83.2% 53.3%);
  --primary-foreground: hsl(210 40% 98%);
  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(222.2 47.4% 11.2%);
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: hsl(210 40% 96.1%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: hsl(214.3 31.8% 91.4%);
  --ring: 221.2 83.2% 53.3%;

  --radius: 4px;
  --gap: 4px;
  --padding: 4px;

  --foreground-color: hsla(0, 0%, 20%, 1);
  --foreground-muted-color: hsla(0, 0%, 60%, 1);
  --background-color: hsla(0, 0%, 100%, 1);
  --background-muted-color: hsla(0, 46%, 95%, 1);

  --primary-color: hsla(0, 48%, 62%, 1);
  --secondary-color: hsla(120, 48%, 62%, 1);

  --info-color: var(--foreground-color);
  --warning-color: orange;
  --success-color: green;
  --error-color: red;

  --border-radius: 4px;

  --shadow: 0 5px 15px 0 #00000026;
  --shadow-active: 0 5px 5px 0 #00000026;

  --text-3xl: 48px;
  --text-2xl: 28px;
  --text-xl: 24px;
  --text-large: 18px;
  --text-base: 16px;
  --text-small: 14px;
  --text-xs: 12px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: hsl(0, 0%, 100%);
    --foreground-muted-color: hsl(0, 0%, 80%);
    --background-color: hsl(0, 0%, 10%);
    --background-muted-color: hsl(0, 0%, 12%);

    --card-background-color: hsl(00, 0%, 20%);
  }
} */

.not-supported {
  display: none;
  border: 1px solid #ff0000;
  color: #ff0000;
  padding: 5px;
}

.not-supported.visible {
  display: block;
}

.error-message {
  display: none;
  border: 1px solid #ff0000;
  color: #ff0000;
  padding: 5px;
}

[invalid] ~ .error-message {
  display: inline-block;
  margin-top: 5px;
}

label {
  display: flex;
  flex-direction: column;
  width: 250px;
}

label + button[type='submit'] {
  margin-top: 15px;
}
