/* || THEME & FONTS*/
:root {
  --foreground-color: hsla(0, 0%, 20%, 1);
  --foreground-muted-color: hsla(0, 0%, 60%, 1);
  --background-color: hsla(0, 0%, 100%, 1);
  --background-muted-color: hsla(0, 46%, 95%, 1);

  --primary-color: hsla(0, 48%, 62%, 1);
  --secondary-color: hsla(120, 48%, 62%, 1);

  --info-color: var(--foreground-color);
  --warning-color: orange;
  --success-color: green;
  --error-color: red;

  --padding: 4px;
  --gap: 4px;
  --border-radius: 4px;

  --shadow: 0 5px 15px 0 #00000026;
  --shadow-active: 0 5px 5px 0 #00000026;

  --text-3xl: 48px;
  --text-2xl: 28px;
  --text-xl: 24px;
  --text-large: 18px;
  --text-base: 16px;
  --text-small: 14px;
  --text-xs: 12px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: hsl(0, 0%, 100%);
    --foreground-muted-color: hsl(0, 0%, 80%);
    --background-color: hsl(0, 0%, 10%);
    --background-muted-color: hsl(0, 0%, 12%);

    --card-background-color: hsl(00, 0%, 20%);
  }
} */
