/* BUTTONS */
.button {
  padding: 8px 16px;

  border: 0 solid transparent;
  border-radius: var(--border-radius);

  cursor: pointer;

  color: var(--background-color);
  background-color: var(--foreground-color);
}

.button:hover {
  color: var(--foreground-color);
  background-color: var(--background-muted-color);
}

.button--large {
  padding: 16px 32px;
  font-size: var(--text-large);
}

.button--primary {
  color: var(--foreground-color);
  background-color: var(--primary-color);
}

.button--primary:hover {
  color: var(--background-color);
  background-color: var(--foreground-color);
}

.button--secondary {
  color: var(--foreground-color);
  background-color: var(--secondary-color);
}

.button--secondary:hover {
  color: var(--background-color);
  background-color: var(--foreground-color);
}
