.accordion {
  border: none;
  border-bottom: 1px solid var(--muted-foreground);
  padding: var(--padding) var(--padding) 0;
}

.accordion__summary {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  cursor: pointer;
  font-size: var(--text-small);
  font-weight: 500;
  padding: var(--padding);
}

.accordion__summary:hover {
  text-decoration: underline;
}

.accordion__content {
  font-size: var(--text-small);
  overflow: hidden;
  padding: calc(var(--padding) * 2) calc(var(--padding) * 6);
}
