.accordion {
  border: none;
  border-bottom: 1px solid var(--foreground-color);
  padding: var(--padding) var(--padding) 0;
  transition: padding 0.3s ease;
}

.accordion__summary {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  margin: calc(-1 * var(--padding)) calc(-1 * var(--padding)) 0;
  padding: var(--padding);
}

.accordion__summary:hover {
  text-decoration: underline;
}

.accordion__content {
  padding: calc(var(--padding) * 4);
}
