.chart-container {
}

.bar rect {
  fill: var(--primary);
}
.bar:hover rect {
  fill: var(--muted-foreground);
}
.bar-label {
  font-size: var(--text-small);
  fill: var(--foreground);
}
.axis-label {
  font-size: var(--text-small);
  text-anchor: middle;
}
