.hidden {
  display: none;
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  gap: calc(var(--gap) * 2);
  font-size: var(--text-small);
  font-weight: 500;
  color: var(--foreground);
}

.breadcrumb__link {
  text-decoration: none;
  color: var(--foreground);
}

.breadcrumb__link:hover {
  opacity: 85%;
}
