.button {
  display: inline-block;
  box-sizing: border-box;
  font-size: var(--text-base);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: 8px 16px;
  cursor: pointer;
  color: var(--foreground-color);
  background-color: var(--background-muted-color);
  transition: 0.1s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  color: var(--background-color);
  background-color: var(--foreground-color);
}

.button--primary {
  border-radius: 9999px;
  color: var(--foreground-color);
  background-color: var(--primary-color);
}

.button--secondary {
  border-radius: 9999px;
  color: var(--foreground-color);
  background-color: var(--secondary-color);
}

.button--light {
  border: 1px solid var(--foreground-color);
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.button--dark {
  color: var(--background-color);
  background-color: var(--foreground-color);
}

.button--dark:hover {
  background-color: var(--primary-color);
}
