.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: 0px solid transparent;
  border-radius: calc(var(--radius) * 1);
  font-size: var(--text-small);
  font-weight: 500;
  padding: calc(var(--padding) * 2) calc(var(--padding) * 4);
  cursor: pointer;
  color: var(--primary-foreground);
  background-color: var(--primary);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:disabled {
  pointer-events: none;
  opacity: 50%;
}

.button:hover {
  opacity: 85%;
}

.button:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.button--secondary {
  color: var(--secondary-foreground);
  background-color: var(--secondary);
}

.button--outline {
  border: 1px solid var(--input);
  border-radius: var(--radius);
  background-color: var(--background);
  color: var(--foreground);
}

.button--outline:hover {
  color: var(--accent-foreground);
  background-color: var(--accent);
}

.button--ghost {
  border: 0px solid transparent;
  background-color: transparent;
  color: var(--foreground);
}

.button--ghost:hover {
  color: var(--accent-foreground);
  background-color: var(--accent);
}

.button--link {
  color: var(--primary);
  background-color: transparent;
  text-underline-offset: 4px;
}

.button--link:hover {
  text-decoration: underline;
}
