h1,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: calc(var(--padding) * 6);
  padding-bottom: calc(var(--padding) * 8);
  border: 1px solid transparent;
  border-radius: var(--radius);
  background-color: var(--card);
  color: var(--card-foreground);
  box-shadow: var(--ring-offset-shadow), var(--ring-shadow), var(--shadow);
  font-size: var(--test-base);
  gap: calc(var(--gap) * 4);
  min-width: 200px;
  min-height: 200px;
  width: 100%;
  height: 100%;
}

.card__header {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.card__header h1 {
  font-size: var(--text-large);
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
}

.card__header p {
  font-size: var(--text-small);
  color: var(--muted-foreground);
}

.card__content {
  font-size: var(--text-base);
}

.card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
