/* || RESET */
h1,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

dialog {
  border: 1px solid var(--foreground-color);
  border-radius: var(--border-radius);
  padding: calc(var(--padding) * 4);
}

.dialog {
  display: inline-flex;
  flex-direction: column;
  gap: calc(var(--gap) * 4);
  border: 0 solid transparent;
  border-radius: var(--border-radius);
  padding-bottom: calc(var(--padding) * 4);
  position: relative;
}

.dialog__header {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.dialog__header h1 {
  font-size: var(--text-large);
}

.dialog__header p {
  font-size: var(--text-small);
  color: var(--foreground-muted-color);
}

.dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--foreground-color);
}

.dialog__content {
  display: flex;
  flex-direction: column;
}

.dialog__footer {
  display: flex;
  flex-direction: row;
}

dialog::backdrop {
  background-color: var(--foreground-color);
  opacity: 0.8;
}
