hr {
  margin: 0px;
  padding: 0px;
  height: 1px;
  border: none;
}

.divider {
  box-sizing: border-box;
  background-color: var(--foreground-color);
  width: 100%;
  opacity: 50%;
}

.divider--dashed {
  background-color: var(--foreground-color);
  width: 100%;
  opacity: 50%;
}
