.input__text {
  padding: calc(var(--padding) * 2);
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--foreground-color);
  border-radius: var(--border-radius);
  font-size: var(--text-base);
}

.input input:disabled {
  border: 1px solid var(--foreground-muted-color);
  cursor: not-allowed;
}
