[role='radiogroup'] {
  padding: 0;
  margin: 0;
  list-style: none;
}

[role='radio'] {
  border: 1px solid transparent;
  border-radius: var(--radius);
  padding: calc(var(--padding) * 2);
  display: inline-block;
  position: relative;
  cursor: default;
  font-size: var(--text-small);
  font-weight: 500;
  color: var(--foreground);
}

[role='radio']::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  content: '';
}

[role='radio'][aria-checked='true']::before {
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: var(--primary);
  content: '';
}

[role='radio'].focus,
[role='radio']:hover {
  padding: calc(var(--padding) * 2);
  border: 1px solid var(--primary);
  background-color: var(--background);
  cursor: pointer;
}

.radio-group__text {
  margin-left: 20px;
}

[role='radio']:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}
