[role='radiogroup'] {
  padding: 0;
  margin: 0;
  list-style: none;
}

[role='radio'] {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: calc(var(--padding) * 2);
  display: inline-block;
  position: relative;

  cursor: default;
  color: var(--foreground-color);
}

[role='radio']::before {
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid var(--foreground-color);
  content: '';
}

[role='radio'][aria-checked='true']::before {
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: var(--foreground-color);
  content: '';
}

[role='radio'].focus,
[role='radio']:hover {
  padding: calc(var(--padding) * 2);
  border: 1px solid var(--foreground-color);
  background-color: var(--background-color);
  cursor: pointer;
}

.radio-group__text {
  margin-left: 20px;
}
