.textarea__input {
  border: 1px solid var(--foreground-color);
  border-radius: var(--border-radius);
  padding: calc(var(--padding) * 2);
  font-size: var(--text-base);
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
  min-height: 54px;
  resize: vertical;
  overflow: auto;
}

.textarea {
  font-size: var(--text-base);
}

.textarea textarea:disabled {
  cursor: not-allowed;
  color: var(--foreground-muted-color);
}
